html{
  color:white;
  margin-left: auto;
  margin-right: auto;
  width: 50%; /* largeur obligatoire pour être centré */
  background: white;
  background-color: white;

}

:root{
  --highlight-color: #00eeff;
  --button-color: #00eeff;
}

head{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body{
  background-color: white;
  color : white;
  text-align: center;
  margin-left: 30%;
  margin-right: 30%;
  border-right-width: 50px;
  border-left-width: 50px;
  width:50%;
}

h1 {
  color: rgb(187, 88, 187);
  /*margin: 33px;*/
  margin-left: auto;
  margin-right: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h2 {
  font-family: helvetica, sans-serif;
  font-size: 13px;
  line-height: 13px;
}

h3 {
  font-family: helvetica, sans-serif;
  font-size: 8px;
  line-height: 8px;
}

h4 {
  color: black;
  font-family: helvetica, sans-serif;
  font-size: 4px;
  line-height: 4px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.button-outline{
  color:black;
  background-color: black
}

.button{
  color: #00eeff; 
  background-color: #00eeff;
}
/*
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}
*/
#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
