

table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

head{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

body{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  widows: 50px;
}

th{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:100%;
  color: black;
}
  
.button,button,input[type='button'],.button.button-outline,button.button-outline,input[type='button'].button-outline{ 
  border-color: black;
  color: black;
  background-color:var(--color-primary,#00eeff);
}